html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    z-index: 1;
    background-position: center;
    background-attachment: fixed;
}

#wrapper {
    height: 100%;
    display: grid;
}
#itemlist {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}
@media only screen and (min-width: 600px) {
    #itemlist {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 800px) {
    #itemlist {
        grid-template-columns: repeat(6, 1fr);
    }
}

#itemlist {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .4);
}
#itemlist img {
    width:64px;
    height:64px;
    transition: all .2s ease-out;
}

#itemlist img:hover {
    filter: drop-shadow(0px 0px 18px #000);
    transform: scale(1.2);
}

#itemlist a {
    color: #fff;
}

#itemlist>* {
    padding: 15px;
    margin: 0 auto;
}
